<div class="calendar">
    <div class="calendar__inner">
        <div class="calendar__header">
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
            <div>Sun</div>
        </div>
        <div class="calendar__viewport">
            <table class="calendar__table">
                <tr ng-repeat="week in weeks" ng-style="{ height: trHeight + 'px'}">
                    <td ng-repeat="day in week" ng-class="{ holiday: day.getDay() % 6 == 0, today: day.getTime() == now }">
                        <div class="day">{{day.getDate()}}.{{day.getMonth()}}.{{day.getFullYear()}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
